/* Experience.css */
.experience-heading {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-card {
  background-color: #1c1c1e;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  box-sizing: border-box;
}

.company {
  font-size: 24px;
  margin-bottom: 5px;
}

.role {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 5px;
}

.duration {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
}

.descriptionnn {
  color: #fff;
  text-decoration: none;
}

.linkedin-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #0073b1; /* LinkedIn blue */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.linkedin-button:hover {
  background-color: #005582;
}

@media (min-width: 768px) {
  .experience-card {
    flex: 0 1 45%; /* Adjusts the cards to take up 45% of the container on larger screens */
  }
}

@media (min-width: 1024px) {
  .experience-card {
    flex: 0 1 30%; /* Adjusts the cards to take up 30% of the container on even larger screens */
  }
}
